/* HomeCarousel.css */

.carousel-container {
  border-radius: 10px;
  padding: 20px;
  background-color: #2988e4; /* Colore di sfondo del carosello */
}

.carousel-title {
  color: white; /* Colore del testo del titolo del carosello */
}

.carousel-item {
  background-color: #2e89e4; /* Colore di sfondo di ogni singolo elemento del carosello */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(
    9,
    8,
    8
  ); /* Colore delle icone delle frecce del carosello */
}
